{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ titulo_pagina }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="detalle-container">
        <a href="{% url 'alfabeto' %}" class="btn-volver">← Volver al Índice</a>
        
        <h1>Letra: {{ letra }}</h1>
        
        <img src="{% static ruta_imagen %}" alt="Seña de la letra {{ letra }}">
        
        <p>Practica la seña de la letra **{{ letra }}**.</p>
    </div>
</body>
</html>